@import "ui-variables";

// TODO: make into settings
@gutter-shadow-color: #000000;
@gutter-shadow-opacity: 0.3;

atom-text-editor::shadow {
  .gutter-shadow {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: -20px;
    top: -20px;
    z-index: 1;

    &.active {
      box-shadow: inset 0 0 7px 4px rgba(0, 0, 0, @gutter-shadow-opacity);
    }
  }
}
